<section class="modal">
  <h1 mat-dialog-title>Add a new device</h1>
  
  <mat-form-field coll>
    <p>Device Name</p>
    <mat-label collor="primary"></mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field coll>
    <p>Device Serial Number</p>
    <mat-label collor="primary"></mat-label>
    <input matInput>
  </mat-form-field>

  <div class="flex" mat-dialog-actions>
    <button mat-raised-button color="accent">Add Device</button>
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  </div>
</section>
